# SPDX-License-Identifier: GPL-2.0-or-later

config SCSI_MPI3MR
	tristate "Broadcom MPI3 Storage Controller Device Driver"
	depends on PCI && SCSI
	help
	This driver supports Broadcom's Unified MPI3 based Storage & RAID Controllers.
